@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$blue: #0079ff;
$grey: #697c9a;
$blueFunny: #4b6a9b;
$darkGrey: #2b3442;
$lightGrey: #f6f8ff;
$white: #fefefe;
$black: hsl(220, 40, 13);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
}

body {
    background: $black;
    font-size: 13px;
}

/* Mobile view  375 x 777 */

.container {
    max-width: 327px;
    margin: auto;

    .header {
        height: 38px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 31px 0;

        h1 {
            color: $white;
            font-size: 26px;
        }

        p {
            color: $white;
        }

        #btn_mode {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            outline: none;

            #mode_text {
                outline: none;
                font-size: 13px;
                letter-spacing: 2.5px;
                margin-left: -13px;
            }

            .icon-container {
                margin-left: 13px;
            }
        }
    }

    .searchbar_container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #1e2a47;
        color: $white;
        border-radius: 15px;
        background-image: url(icon-search.svg);
        background-repeat: no-repeat;
        background-position-x: 15px;
        background-position-y: center;
        margin-bottom: 15px;

        #no_result {
            color: red;
            font-weight: bold;
            margin-right: 26px;
        }

        #input {
            border: none;
            width: 100%;
            color: $white;
            outline: none;
            background: none;
            height: 100%;
            padding-left: 50px;

            &::placeholder {
                letter-spacing: -0.7px;
                font-size: 13px;
            }
        }

        label {
            flex: 1;
        }

        .btn_search {
            cursor: pointer;
            outline: none;
            background: $blue;
            border: none;
            border-radius: 10px;
            margin-right: 5px;
            color: $white;
            width: 84px;
            height: 46px;
            font-size: 14px;
            font-weight: 700;

            &:hover {
                background: #60abff;
            }
        }
    }

    .profile_container {
        margin-top: 30px;
        height: 517px;
        background: #1e2a47;
        border-radius: 15px;

        .profile_content {
            width: 280px;
            height: 437px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            #user {
                color: $blue;
            }

            #bio {
                margin-top: 28px;
                color: $white;
                font-size: 13px;
            }

            .profile_header {
                height: 75px;
                max-width: 280px;
                margin: 50px 0 0;
                display: flex;

                #avatar {
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                }

                .profile_info {
                    color: $white;
                    max-width: 145px;
                    height: 69px;
                    margin-left: 20px;

                    h2 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    p {
                        font-size: 13px;
                    }
                }
            }

            .profile_stats_container {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                min-height: 85px;
                background: #141d2f;
                color: $white;
                margin-top: 25px;
                border-radius: 15px;
                text-align: center;

                .profile_stat {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 85px;

                    .stat_title {
                        font-size: 11px;
                    }

                    .stat_value {
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }

            .profile_footer {
                color: $white;
                height: 127px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 25px;

                .profile_info {
                    display: flex;

                    #twitter {
                        opacity: 0.5;
                    }

                    #page:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                    .bottom_icons {
                        margin-bottom: 8px;
                    }
                    p {
                        font-size: 13px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

/* Tablet view  768 x 1024 */

@media (min-width: 768px) {
    body {
        font-size: 15px;
    }

    .container {
        margin-top: 121px;
        max-width: 573px;

        .profile_container {
            margin-top: 24px;
            max-height: 468px;

            .profile_content {
                width: 493px;

                .profile_header {
                    max-width: 354px;
                    justify-content: center;
                    margin-left: -25px;
                    margin-bottom: 15px;

                    h2 {
                        margin-bottom: 10px;
                        font-size: 26px;
                        font-weight: 700;
                    }

                    #user {
                        margin-bottom: 5px;
                    }

                    img {
                        margin-right: 20px;
                        margin-top: -13px;
                        min-height: 113px;
                        min-width: 117px;
                    }
                }
                #bio {
                    padding-left: 10px;
                    font-size: 13px;
                }
            }

            .profile_footer {
                flex-direction: row;
                flex-flow: column wrap;
                justify-content: space-between;
                max-height: 80px;
            }
        }
    }
}

/* Desktop view 1440 x 900 */

@media (min-width: 1440px) {
    .container {
        max-width: 730px;
        max-height: 611px;

        .profile_container {
            margin-top: 0;
            max-height: 444px;
            padding-top: 35px;
            .profile_content {
                margin-left: 132px;
                max-width: 550px;
                min-width: 550px;
                min-height: 350px;
                max-height: 350px;

                .profile_header {
                    margin-left: -90px;
                    margin-top: 0px;

                    position: relative;
                    right: 155px;
                    max-height: 40px;
                    min-width: 625px;

                    .profile_name {
                        min-height: 100px;
                        justify-content: flex-start;
                    }

                    #date {
                        min-width: 166px;
                        max-width: 166px;
                        margin-left: 336px;
                        margin-top: -100px;
                    }

                    h2 {
                        font-size: 26px;
                        font-weight: 700;
                    }

                    img {
                        margin-right: 20px;
                        width: 117px;
                        height: 117px;
                    }
                }
            }
            #bio {
                margin-left: 68px;
            }

            .profile_stats_container {
                margin-left: 68px;
            }

            .profile_footer {
                margin-left: 68px;
            }
        }
    }
}
